In [2]:
#imports
import os
import gc
import pandas as pd
import numpy as np
import datetime as dt 

import matplotlib.pyplot as plt
import matplotlib.cm as cm 
import seaborn as sns

import plotly.graph_objects as go 
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.offline 

from colorama import Fore, Style, init 
from pprint import pprint

import warnings
warnings.filterwarnings('ignore')

In [3]:
#Color printing and first impression data summary
def PrintColor(text: str, color=Fore.BLUE, style=Style.BRIGHT):
    "Prints color outputs using colorama using a text F-string"
    print(style + color + text + Style.RESET_ALL)

def summarize_dataframe(df):
    summary_df = pd.DataFrame(df.dtypes, columns=['dtypes'])
    summary_df['missing#'] = df.isna().sum().values*100
    summary_df['missing%'] = (df.isna().sum().values*100)/len(df)
    summary_df['uniques'] = df.nunique().values
    summary_df['first_value'] = df.iloc[0].values
    summary_df['last_value'] = df.iloc[len(df)-1].values
    summary_df['count'] = df.count().values

    desc = pd.DataFrame(df.describe().T)
    summary_df['min'] = desc['min']
    summary_df['max'] = desc['max']
    summary_df['mean'] = desc['mean']
    return summary_df

# <div style="color:white;background-color:#000000;padding:3%;border-radius:50px 50px;font-size:1em;text-align:center">Games Data</div>

In [24]:
#games data
games = pd.read_csv('../data/games.csv')
games.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,9/8/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,9/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,9/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,9/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,9/11/2022,13:00:00,CIN,PIT,20,23

In [25]:
#check missing values in games data
for col in games.columns:
    msg = 'column: {:>10}\t Percent of NaN value: {:.2f}%'.format(col,100*(games[col].isnull().sum()/games[col].shape[0]))
    PrintColor(f"\n---> {msg}");

---> column:     gameId	 Percent of NaN value: 0.00%

---> column:     season	 Percent of NaN value: 0.00%

---> column:       week	 Percent of NaN value: 0.00%

---> column:   gameDate	 Percent of NaN value: 0.00%

---> column: gameTimeEastern	 Percent of NaN value: 0.00%

---> column: homeTeamAbbr	 Percent of NaN value: 0.00%

---> column: visitorTeamAbbr	 Percent of NaN value: 0.00%

---> column: homeFinalScore	 Percent of NaN value: 0.00%

---> column: visitorFinalScore	 Percent of NaN value: 0.00%

# <div style="color:white;background-color:#000000;padding:3%;border-radius:50px 50px;font-size:1em;text-align:center">Players Data</div>

In [26]:
#players data
players = pd.read_csv('../data/players.csv')
players.head()

   nflId height  weight   birthDate     collegeName position     displayName
0  25511    6-4     225  1977-08-03        Michigan       QB       Tom Brady
1  29550    6-4     328  1982-01-22        Arkansas        T    Jason Peters
2  29851    6-2     225  1983-12-02      California       QB   Aaron Rodgers
3  30842    6-6     267  1984-05-19            UCLA       TE  Marcedes Lewis
4  33084    6-4     217  1985-05-17  Boston College       QB       Matt Ryan

In [29]:
#check player data structure
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   nflId        1697 non-null   int64
 1   height       1697 non-null   object
 2   weight       1697 non-null   int64
 3   birthDate    1210 non-null   object
 4   collegeName  1697 non-null   object
 5   position     1697 non-null   object
 6   displayName  1697 non-null   object
dtypes: int64(2), object(5)
memory usage: 92.9+ KB

In [30]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(players).style.background_gradient(cmap='Purples')

# <div style="color:white;background-color:#000000;padding:3%;border-radius:50px 50px;font-size:1em;text-align:center">Plays Data</div>

In [11]:
#players data
plays = pd.read_csv('../data/plays.csv')
plays.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,defensiveTeam,yardlineSide,yardlineNumber,...,yardsGained,homeTeamWinProbabilityAdded,visitorTeamWinProbilityAdded,expectedPointsAdded,isDropback,pff_runConceptPrimary,pff_runConceptSecondary,pff_runPassOption,pff_passCoverage,pff_manZone
0,2022102302,2655,(1:54) (Shotgun) J.Burrow pass short middle to...,3,1,10,CIN,ATL,CIN,21,...,9,0.004634,-0.004634,0.702717,True,NaN,NaN,0,Cover-3,Zone
1,2022091809,3698,(2:13) (Shotgun) J.Burrow pass short right to ...,4,1,10,CIN,DAL,CIN,8,...,4,0.002847,-0.002847,-0.240509,True,NaN,NaN,0,Quarters,Zone
2,2022103004,3146,(2:00) (Shotgun) D.Mills pass short right to D...,4,3,12,HOU,TEN,HOU,20,...,6,0.000205,-0.000205,-0.218480,True,NaN,NaN,0,Quarters,Zone
3,2022110610,348,(9:28) (Shotgun) P.Mahomes pass short left to ...,1,2,10,KC,TEN,TEN,23,...,4,-0.001308,0.001308,-0.427749,True,NaN,NaN,0,Quarters,Zone
4,2022102700,2799,(2:16) (Shotgun) L.Jackson up the middle to TB...,3,2,8,BAL,TB,TB,27,...,-1,0.027141,-0.027141,-0.638912,False,MAN,READ OPTION,0,Cover-1,Man

In [14]:
unique_values = plays['pff_passCoverage'].value_counts()

print(unique_values)

pff_passCoverage
Cover-3                 4956
Cover-1                 3300
Quarters                2073
Cover-2                 1852
Cover 6-Left             692
Cover-6 Right            690
Cover-3 Seam             636
Cover-0                  605
Red Zone                 537
2-Man                    186
Goal Line                146
Bracket                   75
Cover-1 Double            54
Prevent                   46
Cover-3 Cloud Right       31
Cover-3 Cloud Left        30
Miscellaneous             14
Cover-3 Double Cloud       9
Name: count, dtype: int64

In [33]:
plays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16124 entries, 0 to 16123
Data columns (total 50 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   gameId                            16124 non-null  int64
 1   playId                            16124 non-null  int64
 2   playDescription                   16124 non-null  object
 3   quarter                           16124 non-null  int64
 4   down                              16124 non-null  int64
 5   yardsToGo                         16124 non-null  int64
 6   possessionTeam                    16124 non-null  object
 7   defensiveTeam                     16124 non-null  object
 8   yardlineSide                      15900 non-null  object
 9   yardlineNumber                    16124 non-null  int64
 10  gameClock                         16124 non-null  object
 11  preSnapHomeScore                  16124 non-null  int64
 12  preSnapVisitorScore               16124 non-null  int64
 13  playNullifiedByPenalty            16124 non-null  object
 14  absoluteYardlineNumber            16124 non-null  int64
 15  preSnapHomeTeamWinProbability     16124 non-null  float64
 16  preSnapVisitorTeamWinProbability  16124 non-null  float64
 17  expectedPoints                    16124 non-null  float64
 18  offenseFormation                  15936 non-null  object
 19  receiverAlignment                 15936 non-null  object
 20  playClockAtSnap                   16123 non-null  float64
 21  passResult                        9736 non-null   object
 22  passLength                        8726 non-null   float64
 23  targetX                           8376 non-null   float64
 24  targetY                           8376 non-null   float64
 25  playAction                        16124 non-null  bool
 26  dropbackType                      10321 non-null  object
 27  dropbackDistance                  10158 non-null  float64
 28  passLocationType                  9312 non-null   object
 29  timeToThrow                       8705 non-null   float64
 30  timeInTackleBox                   8917 non-null   float64
 31  timeToSack                        608 non-null    float64
 32  passTippedAtLine                  9336 non-null   object
 33  unblockedPressure                 9755 non-null   object
 34  qbSpike                           9336 non-null   object
 35  qbKneel                           16124 non-null  int64
 36  qbSneak                           6788 non-null   object
 37  rushLocationType                  6788 non-null   object
 38  penaltyYards                      384 non-null    float64
 39  prePenaltyYardsGained             16124 non-null  int64
 40  yardsGained                       16124 non-null  int64
 41  homeTeamWinProbabilityAdded       16124 non-null  float64
 42  visitorTeamWinProbilityAdded      16124 non-null  float64
 43  expectedPointsAdded               16124 non-null  float64
 44  isDropback                        16124 non-null  bool
 45  pff_runConceptPrimary             9071 non-null   object
 46  pff_runConceptSecondary           2821 non-null   object
 47  pff_runPassOption                 16124 non-null  int64
 48  pff_passCoverage                  15932 non-null  object
 49  pff_manZone                       15932 non-null  object
dtypes: bool(2), float64(15), int64(13), object(20)
memory usage: 5.9+ MB

In [32]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(plays).style.background_gradient(cmap='Greens')

# <div style="color:white;background-color:#000000;padding:3%;border-radius:50px 50px;font-size:1em;text-align:center">Weeks Data</div>

In [39]:
tracking_week1 = pd.read_csv('../data/tracking_week_1.csv')
tracking_week1.head()

tracking_week2 = pd.read_csv('../data/tracking_week_2.csv')
tracking_week2.head()

tracking_week3 = pd.read_csv('../data/tracking_week_3.csv')
tracking_week3.head()

tracking_week4 = pd.read_csv('../data/tracking_week_4.csv')
tracking_week4.head()

tracking_week5 = pd.read_csv('../data/tracking_week_5.csv')
tracking_week5.head()

tracking_week6 = pd.read_csv('../data/tracking_week_6.csv')
tracking_week6.head()

tracking_week7 = pd.read_csv('../data/tracking_week_7.csv')
tracking_week7.head()

tracking_week8 = pd.read_csv('../data/tracking_week_8.csv')
tracking_week8.head()

tracking_week9 = pd.read_csv('../data/tracking_week_9.csv')
tracking_week9.head()

,gameId,playId,nflId,displayName,frameId,frameType,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event
0,2022110700,56,33131.0,Calais Campbell,1,BEFORE_SNAP,2022-11-08 01:16:09.2,93.0,BAL,left,83.00,28.44,0.0,0.0,0.01,197.06,23.13,huddle_break_offense
1,2022110700,56,33131.0,Calais Campbell,2,BEFORE_SNAP,2022-11-08 01:16:09.3,93.0,BAL,left,83.00,28.45,0.0,0.0,0.01,196.46,38.70,NaN
2,2022110700,56,33131.0,Calais Campbell,3,BEFORE_SNAP,2022-11-08 01:16:09.4,93.0,BAL,left,83.01,28.45,0.0,0.0,0.01,196.46,47.59,NaN
3,2022110700,56,33131.0,Calais Campbell,4,BEFORE_SNAP,2022-11-08 01:16:09.5,93.0,BAL,left,83.02,28.45,0.0,0.0,0.01,195.50,52.81,NaN
4,2022110700,56,33131.0,Calais Campbell,5,BEFORE_SNAP,2022-11-08 01:16:09.6,93.0,BAL,left,83.02,28.46,0.0,0.0,0.00,194.24,51.82,NaN

In [47]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(tracking_week1).style.background_gradient(cmap='viridis')

In [48]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(tracking_week2).style.background_gradient(cmap='plasma')

In [49]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(tracking_week3).style.background_gradient(cmap='inferno')

In [52]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(tracking_week4).style.background_gradient(cmap='cividis')

In [53]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(tracking_week5).style.background_gradient(cmap='turbo')

In [54]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(tracking_week6).style.background_gradient(cmap='magma')

In [55]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(tracking_week6).style.background_gradient(cmap='twilight')

In [56]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(tracking_week6).style.background_gradient(cmap='coolwarm')

In [5]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(tracking_week6).style.background_gradient(cmap='Spectral')

NameError: name 'tracking_week6' is not defined

In [9]:
finalweek1 = pd.read_csv('../data/processed/final_tracking_week_1.csv')

In [10]:
summarize_dataframe(finalweek1)

,dtypes,missing#,missing%,uniques,first_value,last_value,count,min,max,mean
gameId,int64,0,0.000000,16,2022091200,2022090800,7104700,2.022091e+09,2.022091e+09,2.022091e+09
playId,int64,0,0.000000,1574,64,3696,7104700,5.500000e+01,5.120000e+03,2.024279e+03
nflId,float64,30890000,4.347826,1183,35459.0,NaN,6795800,2.551100e+04,5.517300e+04,4.718625e+04
displayName,object,0,0.000000,1178,Kareem Jackson,football,7104700,NaN,NaN,NaN
frameId,int64,0,0.000000,697,1,175,7104700,1.000000e+00,6.970000e+02,8.693164e+01
frameType,object,0,0.000000,3,BEFORE_SNAP,AFTER_SNAP,7104700,NaN,NaN,NaN
time,object,0,0.000000,203263,2022-09-13 00:16:03.5,2022-09-09 03:07:38.1,7104700,NaN,NaN,NaN
jerseyNumber,float64,30890000,4.347826,99,22.0,NaN,6795800,1.000000e+00,9.900000e+01,4.808540e+01
club,object,0,0.000000,33,DEN,football,7104700,NaN,NaN,NaN
playDirection,object,0,0.000000,2,right,left,7104700,NaN,NaN,NaN
x,float64,0,0.000000,29908,51.06,111.0,7104700,9.000000e+00,1.110000e+02,5.877473e+01
y,float64,0,0.000000,10442,28.55,0.0,7104700,0.000000e+00,5.330000e+01,2.682704e+01
s,float64,0,0.000000,3581,0.72,3.74,7104700,0.000000e+00,2.914000e+01,1.359180e+00
a,float64,0,0.000000,3097,0.37,0.46,7104700,0.000000e+00,5.658000e+01,9.440965e-01
dis,float64,0,0.000000,752,0.07,0.36,7104700,0.000000e+00,7.630000e+00,1.389657e-01
o,float64,30851100,4.342351,36001,246.17,NaN,6796189,0.000000e+00,3.600000e+02,1.791678e+02
dir,float64,30851100,4.342351,45265,68.34,NaN,6796189,0.000000e+00,3.600000e+02,1.688544e+02
event,object,679518900,95.643574,36,huddle_break_offense,NaN,309511,NaN,NaN,NaN
week,int64,0,0.000000,1,1,1,7104700,1.000000e+00,1.000000e+00,1.000000e+00
position,object,30890000,4.347826,19,SS,NaN,6795800,NaN,NaN,NaN
quarter,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
down,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
yardsToGo,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
possessionTeam,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
defensiveTeam,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
preSnapHomeScore,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
preSnapVisitorScore,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
playNullifiedByPenalty,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
expectedPoints,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
offenseFormation,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
receiverAlignment,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
qbSpike,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
qbKneel,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
passResult,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
yardlineNumber,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
gameClock,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
playClockAtSnap,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
prePenaltyYardsGained,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
yardsGained,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
homeTeamWinProbabilityAdded,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
visitorTeamWinProbilityAdded,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
expectedPointsAdded,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN
qbSneak,float64,710470000,100.000000,0,NaN,NaN,0,NaN,NaN,NaN

In [5]:
#player_plays data
player_plays = pd.read_csv('../data/player_play.csv')
player_plays.head()

,gameId,playId,nflId,teamAbbr,hadRushAttempt,rushingYards,hadDropback,passingYards,sackYardsAsOffense,hadPassReception,...,wasRunningRoute,routeRan,blockedPlayerNFLId1,blockedPlayerNFLId2,blockedPlayerNFLId3,pressureAllowedAsBlocker,timeToPressureAllowedAsBlocker,pff_defensiveCoverageAssignment,pff_primaryDefensiveCoverageMatchupNflId,pff_secondaryDefensiveCoverageMatchupNflId
0,2022090800,56,35472,BUF,0,0,0,0,0,0,...,NaN,NaN,47917.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1,2022090800,56,42392,BUF,0,0,0,0,0,0,...,NaN,NaN,47917.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,2022090800,56,42489,BUF,0,0,0,0,0,1,...,1.0,IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022090800,56,44875,BUF,0,0,0,0,0,0,...,NaN,NaN,43335.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,2022090800,56,44985,BUF,0,0,0,0,0,0,...,1.0,OUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#check missing values in player_play data
for col in player_plays.columns:
    msg = 'column: {:>10}\t Percent of NaN value: {:.2f}%'.format(col,100*(player_plays[col].isnull().sum()/player_plays[col].shape[0]))
    PrintColor(f"\n---> {msg}");

---> column:     gameId	 Percent of NaN value: 0.00%

---> column:     playId	 Percent of NaN value: 0.00%

---> column:      nflId	 Percent of NaN value: 0.00%

---> column:   teamAbbr	 Percent of NaN value: 0.00%

---> column: hadRushAttempt	 Percent of NaN value: 0.00%

---> column: rushingYards	 Percent of NaN value: 0.00%

---> column: hadDropback	 Percent of NaN value: 0.00%

---> column: passingYards	 Percent of NaN value: 0.00%

---> column: sackYardsAsOffense	 Percent of NaN value: 0.00%

---> column: hadPassReception	 Percent of NaN value: 0.00%

---> column: receivingYards	 Percent of NaN value: 0.00%

---> column: wasTargettedReceiver	 Percent of NaN value: 0.00%

---> column: yardageGainedAfterTheCatch	 Percent of NaN value: 0.00%

---> column:    fumbles	 Percent of NaN value: 0.00%

---> column: fumbleLost	 Percent of NaN value: 0.00%

---> column: fumbleOutOfBounds	 Percent of NaN value: 0.00%

---> column: assistedTackle	 Percent of NaN value: 0.00%

---> column: forcedFumbleAsDefense	 Percent of NaN value: 0.00%

---> column: halfSackYardsAsDefense	 Percent of NaN value: 0.00%

---> column: passDefensed	 Percent of NaN value: 0.00%

---> column: quarterbackHit	 Percent of NaN value: 0.00%

---> column: sackYardsAsDefense	 Percent of NaN value: 0.00%

---> column: safetyAsDefense	 Percent of NaN value: 0.00%

---> column: soloTackle	 Percent of NaN value: 0.00%

---> column: tackleAssist	 Percent of NaN value: 0.00%

---> column: tackleForALoss	 Percent of NaN value: 0.00%

---> column: tackleForALossYardage	 Percent of NaN value: 0.00%

---> column: hadInterception	 Percent of NaN value: 0.00%

---> column: interceptionYards	 Percent of NaN value: 0.00%

---> column: fumbleRecoveries	 Percent of NaN value: 0.00%

---> column: fumbleRecoveryYards	 Percent of NaN value: 0.00%

---> column: penaltyYards	 Percent of NaN value: 0.00%

---> column: penaltyNames	 Percent of NaN value: 99.89%

---> column: wasInitialPassRusher	 Percent of NaN value: 69.76%

---> column: causedPressure	 Percent of NaN value: 0.00%

---> column: timeToPressureAsPassRusher	 Percent of NaN value: 98.78%

---> column: getOffTimeAsPassRusher	 Percent of NaN value: 86.46%

---> column: inMotionAtBallSnap	 Percent of NaN value: 69.60%

---> column: shiftSinceLineset	 Percent of NaN value: 50.33%

---> column: motionSinceLineset	 Percent of NaN value: 74.56%

---> column: wasRunningRoute	 Percent of NaN value: 87.94%

---> column:   routeRan	 Percent of NaN value: 87.94%

---> column: blockedPlayerNFLId1	 Percent of NaN value: 86.16%

---> column: blockedPlayerNFLId2	 Percent of NaN value: 98.77%

---> column: blockedPlayerNFLId3	 Percent of NaN value: 100.00%

---> column: pressureAllowedAsBlocker	 Percent of NaN value: 85.05%

---> column: timeToPressureAllowedAsBlocker	 Percent of NaN value: 98.85%

---> column: pff_defensiveCoverageAssignment	 Percent of NaN value: 81.46%

---> column: pff_primaryDefensiveCoverageMatchupNflId	 Percent of NaN value: 87.74%

---> column: pff_secondaryDefensiveCoverageMatchupNflId	 Percent of NaN value: 99.33%

In [9]:
# call summarize_dataframe for high level overview of missing values, unique values, etc
summarize_dataframe(player_plays).style.background_gradient(cmap='twilight')