In [10]:
#imports
import os
import gc
import pandas as pd
import numpy as np
import datetime as dt 

import matplotlib.pyplot as plt
import matplotlib.cm as cm 
import seaborn as sns

import plotly.graph_objects as go 
from plotly.subplots import make_subplots
import plotly.express as px
import plotly.offline 

from colorama import Fore, Style, init 
from pprint import pprint

import warnings
warnings.filterwarnings('ignore')

In [11]:
#Color printing and first impression data summary
def PrintColor(text: str, color=Fore.BLUE, style=Style.BRIGHT):
    "Prints color outputs using colorama using a text F-string"
    print(style + color + text + Style.RESET_ALL)

def summarize_dataframe(df):
    summary_df = pd.DataFrame(df.dtypes, columns=['dtypes'])
    summary_df['missing#'] = df.isna().sum().values*100
    summary_df['missing%'] = (df.isna().sum().values*100)/len(df)
    summary_df['uniques'] = df.nunique().values
    summary_df['first_value'] = df.iloc[0].values
    summary_df['last_value'] = df.iloc[len(df)-1].values
    summary_df['count'] = df.count().values

    desc = pd.DataFrame(df.describe().T)
    summary_df['min'] = desc['min']
    summary_df['max'] = desc['max']
    summary_df['mean'] = desc['mean']
    return summary_df

In [15]:
#games data
games = pd.read_csv('../data/games.csv')
games.head()

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,9/8/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,9/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,9/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,9/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,9/11/2022,13:00:00,CIN,PIT,20,23

In [16]:
#check missing values in games data
for col in games.columns:
    msg = 'column: {:>10}\t Percent of NaN value: {:.2f}%'.format(col,100*(games[col].isnull().sum()/games[col].shape[0]))
    PrintColor(f"\n---> {msg}");

---> column:     gameId	 Percent of NaN value: 0.00%

---> column:     season	 Percent of NaN value: 0.00%

---> column:       week	 Percent of NaN value: 0.00%

---> column:   gameDate	 Percent of NaN value: 0.00%

---> column: gameTimeEastern	 Percent of NaN value: 0.00%

---> column: homeTeamAbbr	 Percent of NaN value: 0.00%

---> column: visitorTeamAbbr	 Percent of NaN value: 0.00%

---> column: homeFinalScore	 Percent of NaN value: 0.00%

---> column: visitorFinalScore	 Percent of NaN value: 0.00%